{% extends "layout.html" %}

{% block title %}Xremind{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/css/userAuth.css">
{% endblock%}

{% block content %}
<header>
    <img src="/img/logo.png" class="logo" alt="Xremind">
    <p class="slogon">WORKING SMART.REMEMBER DEEPLY</p>
</header>
<form action="/user/register" method="post">
<section class="warp" id="formContent">
    <ul class="regList">
        <li><p class="subform">
            <label for="username"><input type="text" name="nickname" id="username" required placeholder="用户名"></label>
        </p></li>
        <li>
            <p class="subform">
                <label for="passwords"><input type="password" name="password" id="passwords" required placeholder="密码">
                </label></p></li>
        <li class="email">
            <p class="subform">
                <label for="passwords"><input type="email" name="usermail" id="email" required placeholder="邮箱"> </label>
            </p></li>
        <li>
            <p class="subform"><label><input type="submit" value="注册" name="submit" class="btnReg"></label>
            </p></li>
    </ul>
</section></form>
<p class="switch_form">
    有账户了？请<a href='/user/login' id='switchbtn' title="login">登录</a></p>
<footer><p>©Copy ringht.2016</p></footer>
<script src="/js/userAuth.js"></script>
{% endblock %}